<div>
  <div class="jumbotron jumbo hidden-xs">
    <div class="container grad">

    <div class="textJumbo">
      <span class="testoJumbo">tette</span>
      <span class="pulsJumbo">Acquista</span>
    </div>
  </div>
  </div>
  <div class="row" style="margin-top: 10px">
  <div style="width: 100%; height: 25px; border-bottom: 2px solid #cf1717; text-align: center">
  <span style="font-size: 30px; background-color: #fff; padding: 0 0px;">
    Special Offers <!--Padding is optional-->
  </span>
  </div>
  </div>
  <div class="row offers">
    <!--item from server-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 offersItem" *ngFor="let prod of listOffers">
      <div class="offersCont col-lg-12">
        <div class="offersIcons">
          <img src="{{prod.img}}" style="width: auto !important; height: auto !important;
  max-width: 100%;">
        </div>
        <div class="row infoCont">
          <span class="iteminfo">Prezzo Unitario: {{prod.prezzoUnitario}} €</span><br>
          <span class="iteminfo">Disponibilità: {{prod.quantita}}kg</span><br>
          <span class="iteminfo" *ngIf="prod.offerta===true">offerta - {{prod.sconto}}%</span>
          <span class="offertaWrap"></span>
          <span class="terminato" *ngIf="prod.quantita==0">TERMINATO</span>
          <span class="disponibile" *ngIf="prod.quantita>0"></span>

        </div>
      </div>
      <div class="ribbon" *ngIf="prod.offerta===true&&prod.quantita>0"><span>OFFERTA!</span></div>

    </div>

    <!--item from server-->


  </div>
</div>

