.headerTop{
  position: absolute;
  top:0;
  height:30px;
  background-color: #6d757c;
  width:100%;
}

.headerMid{
  position: absolute;
  top:30px;
  width:100%;
  height:90px;
  background-color: #fff;
  z-index: 2;
}

.headerBot{
  position: absolute;
  width:100%;
  top:120px;
  height:45px;
  -moz-box-shadow: 0 0 3px 3px #8F0808;
  -webkit-box-shadow: 0 0 3px 3px #8F0808;
  box-shadow: 0 0 3px 3px #8F0808;
  background-color: #fff;
  border-bottom: 1px solid #cf1717;
  z-index: 1;
}

.headerTop2{
  position: relative;
  width: 100%;
  height:30px;
  background-color: #6d757c;
}

.headerMid2{
  position: relative;
  z-index: 1001;
  float: right;
  height:90px;
  background-color: #fff;
}

.headerBot2{
  position: relative;
  float:left;
  width: 100%;
  height:45px;
  background-color: #fff;
  border-bottom: 1px solid #cf1717;
}

.logo{
  position: relative;
  float: left;
  top:9px;
  left:9px;
  z-index: 1000;
}

.rigo1{
  z-index: 10000;
  margin:0;
  padding: 0;
  cursor: pointer;
}

.rigo1:hover{
  background-color: #cf1717 !important;
}


.rigo1 > span{
  line-height: 30px;
  font-family: 'NewsGothicBTWebCond','Trebuchet MS',Arial,sans-serif;
  vertical-align: middle;
  color:#fff;
  margin:0;
  padding: 0 5px;

}

.rigo2{
  z-index: 10000;
  margin:0;
  padding: 0;
  cursor: pointer;
}

.rigo2 > span:hover{
  text-decoration: underline;
}

.rigo2:hover{
  background-color: #fff;
}

.rigo2 > span{
  line-height: 90px;
  font-family: 'NewsGothicBTWebCond','Trebuchet MS',Arial,sans-serif;
  vertical-align: middle;
  color:#000;
  margin:0;
  padding: 0 5px;
}

.rigo2 > span:hover{
  text-decoration: underline;
}
.headerTop{
  position: absolute;
  top:0;
  height:30px;
  background-color: #6d757c;
  width:100%;
}

.headerMid{
  position: absolute;
  top:30px;
  width:100%;
  height:90px;
  background-color: #fff;
}

.headerBot{
  position: absolute;
  width:100%;
  top:120px;
  height:45px;
  background-color: #fff;
}

.headerTop2{
  position: relative;
  width: 100%;
  height:30px;
  background-color: #6d757c;
}

.headerMid2{
  position: relative;
  z-index: 1001;
  float: right;
  height:90px;
  background-color: #fff;
}

.headerBot2{
  position: relative;
  float:left;
  width: 100%;
  height:45px;
  background-color: #fff;
}

.logo{
  position: relative;
  float: left;
  top:20px;
  left:9px;
  z-index: 100000;
}

.slogan{
  position: relative;
  z-index: 1001;
  float: left;
  padding-left: 10px;
  height:90px;
  background-color: #fff;
}

.slogan >span{
  color: #06507f;
  line-height: 90px;
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display:inline-block;
  -webkit-transform:scale(0.5,1); /* Safari and Chrome */
  -moz-transform:scale(0.5,1); /* Firefox */
  -ms-transform:scale(0.5,1); /* IE 9 */
  -o-transform:scale(0.5,1); /* Opera */
  transform:scale(0.5,1); /* W3C */

}

.rigo1{


  z-index: 10000;
  margin:0;
  padding: 0;
  cursor: pointer;
}

.rigo1:hover{
  background-color: #586067;
}

.rigo1 > span{
  line-height: 30px;
  font-family: 'NewsGothicBTWebCond','Trebuchet MS',Arial,sans-serif;
  vertical-align: middle;
  color:#fff;
  margin:0;
  padding: 0 5px;
}

.rigo2{
  z-index: 10000;
  margin:0;
  padding: 0;
  cursor: pointer;
}

.rigo2 > span:hover{
  text-decoration: underline;
}

.rigo2:hover{
  background-color: #fff;
}

.rigo3{
  z-index: 10000;
  margin:0;
  padding: 0;
  cursor: pointer;
}

.rigo3 > span{
  line-height: 45px;
  font-family: sans-serif;
  vertical-align: middle;
  color:#000;
  margin:0;
  padding: 0 5px;
  font-size: 27px;
}

.rigo3 > span:hover{
  text-decoration: underline;
}

.rigo3space{
  z-index: 10000;
  margin:0;
  padding: 0;
}

.rigo3space > span{
  line-height: 45px;
  font-family: sans-serif;
  vertical-align: middle;
  color:#000;
  margin:0;
  padding: 0 5px;
  font-size: 27px;
}

.main{
  width:100%;
}

.headercont{
  height:165px;
  margin:0;
  padding:0;
}
