<div class="headerTop hidden-xs hidden-sm"></div>
<div class="headerMid hidden-xs hidden-sm"></div>
<div class="headerBot hidden-xs hidden-sm"></div>
<div class="container">
  <div class="headercont hidden-xs hidden-sm">
<div class="logo hidden-xs hidden-sm">
  <img height=120px src="https://i.imgur.com/GRtO3JB.png">
</div>

<div class="headerTop2 hidden-xs hidden-sm">
  <div class="pull-right rigo1"><span routerLink="/login"> Accedi</span></div>
  <div class="pull-right rigo1"><span routerLink="/register"> Registrati</span></div>
  <div class="pull-right rigo1"><span> Benvenuto, Gianluca</span></div>
  <div class="pull-right rigo1"><span (click)="logout()"> Log-out</span></div>

</div>
  <div class="slogan hidden-xs hidden-sm">
    <span>JustMarket dove voi quando vuoi!</span>
  </div>
<div class="headerMid2 hidden-xs hidden-sm">
  <!--<div class="pull-right rigo2"><span> prova</span></div>-->
  <!--<div class="pull-right rigo2"><span> prova</span></div>-->
  <!--<div class="pull-right rigo2"><span> prova</span></div>-->
  <!--<div class="pull-right rigo2"><span> prova</span></div>-->
</div>
<div class="headerBot2 hidden-xs hidden-sm">
  <div class="pull-right rigo3"><span> Chi siamo </span></div>
  <div class="pull-right rigo3space"><span> - </span></div>
  <div class="pull-right rigo3"><span> Contattaci </span></div>
  <div class="pull-right rigo3space"><span> -</span></div>
  <div class="pull-right rigo3"><span> Come funziona </span></div>
  <div class="pull-right rigo3space"><span> - </span></div>
  <div class="pull-right rigo3"><span> Dicono di noi </span></div>
</div>
  </div>
<div class="main">
  <router-outlet></router-outlet>
</div>
</div>
