<mat-sidenav-container>
  <mat-sidenav #sidenav class="carrello">
    <app-carrello></app-carrello>
  </mat-sidenav>
  <mat-sidenav-content class="mains">

<div class="headerTop hidden-xs hidden-sm"></div>
<div class="headerMid hidden-xs hidden-sm"></div>
<div class="headerBot hidden-xs hidden-sm"></div>
<div class="container">
  <div class="headercont hidden-xs hidden-sm">
    <div class="logo hidden-xs hidden-sm">
      <img height=120px src="https://i.imgur.com/GRtO3JB.png" routerLink="/homepage" class="logoHome">
    </div>

    <div class="headerTop2 hidden-xs hidden-sm" id="grigio">
      <div class="pull-right rigo1" (click)="sidenav.toggle()"><span > Carrello </span></div>
      <div class="pull-right rigo1" *ngIf="!logged" routerLink="/login"><span > Accedi</span></div>
      <div class="pull-right rigo1" *ngIf="!logged" routerLink="/register"><span > Registrati</span></div>
      <div class="pull-right rigo1" *ngIf="logged" routerLink="/profile"><span > Benvenuto, {{userLogged.nome}}</span></div>
      <div class="pull-right rigo1" *ngIf="logged" (click)="logout()"><span > Log-out</span></div>

    </div>
    <div class="slogan hidden-xs hidden-sm">
      <span>JustMarket dove voi quando vuoi!</span>
    </div>
    <div class="headerMid2 hidden-xs hidden-sm">
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
    </div>
    <div class="headerBot2 hidden-xs hidden-sm">
      <div class="pull-right rigo3"><span pageScroll routerLink="/homepage" href="#offers"> Offerte </span></div>
      <div class="pull-right rigo3space"><span> - </span></div>
      <div class="pull-right rigo3"><span pageScroll routerLink="/homepage" href="#contattaci"> Contattaci </span></div>
      <div class="pull-right rigo3space"><span> -</span></div>
      <div class="pull-right rigo3"><span> Come funziona </span></div>
      <div class="pull-right rigo3space"><span> - </span></div>
      <div class="pull-right rigo3"><span pageScroll routerLink="/homepage" href="#diconodinoi"> Dicono di noi </span></div>
    </div>
  </div>
  <nav class="navbar navbar-default hidden-lg hidden-md">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Just Market</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/homepage">Homepage</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Prova 1-1</a></li>
              <li><a href="#">Prova 1-2</a></li>
              <li><a href="#">Prova 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Prova 2</a></li>
          <li><a href="#">Prova 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/register"><span class="glyphicon glyphicon-user" ></span> Registrati</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in" ></span> Accedi</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="tornasu">
  <span href="#grigio" class="scrollup" pageScroll class="glyphicon glyphicon-chevron-up" ></span>
</div>
<div class="footer-section">
  <div class="container">
    <div class="footer-four-columns">
      <div class="col-md-3 footer-column">
        <h4>Chi siamo </h4>
        <p>Siamo un azienda che esige il meglio per il cliente. Crediamo nel futuro di questo progetto, per questo cerchiamo di offrire i migliori prodotti al miglior prezzo che il mercato può offire.
           Vogliamo crescere con voi e per voi. Questo è JustMarket.</p>
      </div>
      <div class="col-md-3 footer-column">
        <h4>Dove siamo</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.309971022817!2d12.467069750679862!3d41.88619037911959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f603974a2840f%3A0x12acaae9b4ba9bac!2sVia+Roma+Libera%2C+2%2C+00153+Roma+RM!5e0!3m2!1sit!2sit!4v1513591013738" width="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-3 footer-column" id="contattaci">
        <h4>Useful links</h4>
        <ul>
          <li><a routerLink="/homepage">Home</a></li>
          <li><a href="/homepage">Chi siamo</a></li>
          <li><a href="/homepage">Spedizione</a></li>
          <li><a href="/homepage">Contattaci</a></li>

        </ul>
      </div>
      <div class="col-md-3 footer-column">
        <h4>Contatti</h4>
        <ul>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+39 06-12345678</li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:example@mail.com"> justmarket@mail.com</a></li>
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Via Roma Libera, 2 (RM) 00153</li>
          <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Lun-Sab 8:00 am to 8:00 pm</li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>

  </div>
</div>
    </mat-sidenav-content>
</mat-sidenav-container>
