<div class="headerTop hidden-xs hidden-sm"></div>
<div class="headerMid hidden-xs hidden-sm"></div>
<div class="headerBot hidden-xs hidden-sm"></div>
<div class="container">
  <div class="headercont hidden-xs hidden-sm">
    <div class="logo hidden-xs hidden-sm">
      <img height=120px src="https://i.imgur.com/GRtO3JB.png" routerLink="/homepage">
    </div>

    <div class="headerTop2 hidden-xs hidden-sm">
      <div class="pull-right rigo1"><span routerLink="/login"> Accedi</span></div>
      <div class="pull-right rigo1"><span routerLink="/register"> Registrati</span></div>
      <div class="pull-right rigo1"><span> Benvenuta, Tetta</span></div>
      <div class="pull-right rigo1"><span (click)="logout()"> Log-out</span></div>

    </div>
    <div class="slogan hidden-xs hidden-sm">
      <span>JustMarket dove voi quando vuoi!</span>
    </div>
    <div class="headerMid2 hidden-xs hidden-sm">
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
      <!--<div class="pull-right rigo2"><span> prova</span></div>-->
    </div>
    <div class="headerBot2 hidden-xs hidden-sm">
      <div class="pull-right rigo3"><span> Chi siamo </span></div>
      <div class="pull-right rigo3space"><span> - </span></div>
      <div class="pull-right rigo3"><span> Contattaci </span></div>
      <div class="pull-right rigo3space"><span> -</span></div>
      <div class="pull-right rigo3"><span> Come funziona </span></div>
      <div class="pull-right rigo3space"><span> - </span></div>
      <div class="pull-right rigo3"><span> Dicono di noi </span></div>
    </div>
  </div>
  <nav class="navbar navbar-default hidden-lg hidden-md">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Just Market</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/homepage">Homepage</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Prova 1-1</a></li>
              <li><a href="#">Prova 1-2</a></li>
              <li><a href="#">Prova 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Prova 2</a></li>
          <li><a href="#">Prova 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/register"><span class="glyphicon glyphicon-user" ></span> Registrati</a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in" ></span> Accedi</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
