<div>
<div class="toolbar">
  <span class="toolbarItem">
    <mat-slide-toggle
      class="example-margin"
      color="primary"
      (change)="filtra()"
      [(ngModel)]="filtroOffers"
    >
      Solo Offerte
    </mat-slide-toggle>
  </span>
  <span class="toolbarItem">
    <mat-slide-toggle
      class="example-margin"
      color="primary"
      (change)="filtra()"
      [(ngModel)]="filtroDisponibili"
    >
      Solo Disponibili
    </mat-slide-toggle>
  </span>

  <span class="toolbarItem">
   Prezzo da  <input class="searchBox" maxlength="3" size="3" type="text" [(ngModel)]="prezzoMinimo" (keyup)="filtra()"> a <input class="searchBox" maxlength="3" size="3" type="text" [(ngModel)]="prezzoMassimo" (keyup)="filtra()">
  </span>



  <span class="toolbarItem pull-right">
   Cerca  <input class="searchBox" placeholder="Ricerca" maxlength="9" size="9" type="text" [(ngModel)]="cerca" (keyup)="filtra()">
  </span>



</div>
  <div class="row offers">
    <!--item from server-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 offersItem" *ngFor="let prod of listProd">
      <div class="offersCont col-lg-12">
        <div class="offersIcons">
          <img src="{{prod.img}}" style="width: auto !important; height: auto !important;
  max-width: 100%;">
        </div>
        <div class="row infoCont">
          <span class="iteminfo">Articolo: {{prod.nome}}</span><br>
          <span class="iteminfo">Marca: {{prod.marca}}</span><br>
          <span class="iteminfo" *ngIf="offersDate < prod.dataScadenza ">Prezzo Unitario: <b>{{prod.prezzoUnitario | number : '1.2-2'}} €</b><br></span>
          <span class="iteminfo" *ngIf="offersDate > prod.dataScadenza && dateNow < prod.dataScadenza">Prezzo Unitario: <span class="oferta">{{prod.prezzoUnitario | number : '1.2-2'}}</span> <b>{{prod.prezzoUnitario * 0.7 | number : '1.2-2'}} €</b></span>
          <span class="iteminfo" *ngIf="ddNow < prod.dataScadenza && dddNow > prod.dataScadenza">Prezzo Unitario: <span class="oferta">{{prod.prezzoUnitario | number : '1.2-2'}}</span> <b>{{prod.prezzoUnitario * 0.3 | number : '1.2-2'}} €</b><br></span>
          <span class="iteminfo" *ngIf="prod.unita =='LITRO'">Disponibilità: {{prod.quantita}} L<br></span>
          <span class="iteminfo" *ngIf="prod.unita == 'CHILO'">Disponibilità: {{prod.quantita}} Kg<br></span>
          <span class="iteminfo" *ngIf="prod.unita == 'GRAMMO'">Disponibilità: {{prod.quantita}} g<br></span>
          <span class="iteminfo" *ngIf="prod.unita == 'PEZZO'">Disponibilità: {{prod.quantita}} Articoli<br></span>
          <span class="iteminfo" *ngIf="prod.offerta===true">offerta - {{prod.sconto}}%<br></span>
          <span class="offertaWrap"></span>
          <span class="terminato" *ngIf="prod.quantita==0">TERMINATO</span>
          <span class="disponibile" *ngIf="prod.quantita>0"></span>
          <span class="addCarrello" *ngIf="prod.quantita>0" (click)="aggiungiAlCarrello(prod)"><img src="../../assets/images/shopping.png"> </span>
        </div>
      </div>
      <div class="ribbon" *ngIf="prod.offerta===true&&prod.quantita>0"><span>OFFERTA!</span></div>
    </div>

    <!--item from server-->

  </div>
</div>
