.toolbar{
  height:50px;
  background-color: #cf1717;
  color: #ffffff;
}
.example-h2 {
  margin: 10px;
}

.toolbarItem{
  padding: 0 20px 0 20px;
  margin: 0;
  line-height: 50px;
  vertical-align: middle;
}

.searchBox{
  border-radius: 5px;
  height: 30px!important;
  color:black;
}

.offers {
  margin-top: 40px;
  padding-bottom: 10px;
}

.offersItem {
  height: 300px;
  padding: 5px;
  background-color: #ffffff;

}

.offersIcons {
  width: 250px;
  margin: auto;
}

.iteminfo {

}

.offertaWrap {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.infoCont {
  width: 250px;
  padding: auto;
  margin: auto;

}

.offersCont {
  border-radius: 10px;
  padding: 5px;
  height: 100%;
}

/*prova*/
.ribbon {
  position: absolute;
  left: 0px;
  top: 1px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.terminato {
  position: absolute;
  top: 0;
  color: red;
  font-weight: 800;
  left: 0;
  width: 100%;
  font-size: 20px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 290px;
  background: repeating-linear-gradient(
    135deg,
    rgba(68, 76, 83, 0.98),
    rgba(68, 76, 83, 0.38),
    rgba(68, 76, 83, 0.48),
    rgba(68, 76, 83, 0.78)
  )
}

.disponibile {
  position: absolute;
  top: 0;
  color: red;
  font-weight: 800;
  left: 0;
  width: 100%;
  font-size: 20px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 290px;
  z-index: 1;
  background: repeating-linear-gradient(
    135deg,
    rgba(194, 228, 241, 0.45),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(194, 228, 241, 0.25)
  )

}

.disponibile:hover {
  -webkit-box-shadow: 0px 0px 120px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 120px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 120px -11px rgba(0,0,0,0.75);

}

.addCarrello{
  position: absolute;
  top:20px;
  right:20px;
  cursor: pointer;
  z-index: 10;
}
.addCarrello > img{
  width:50px;
  height: 50px;
  cursor: pointer;
}

.oferta {
  position: relative;
}
.oferta:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: #cf1717;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
