<div>
<div class="toolbar">
  <span class="toolbarItem">
    <mat-slide-toggle
      class="example-margin"
      color="primary"
      [checked]="checked"
      [disabled]="disabled">
      Mostra Offerte
    </mat-slide-toggle>
  </span>

  <span class="toolbarItem">
   Prezzo da  <input class="searchBox" maxlength="3" size="3" type="text"> a <input class="searchBox" maxlength="3" size="3" type="text">
  </span>

  <span class="toolbarItem pull-right">
   Cerca  <input class="searchBox" maxlength="3" size="3" type="text">
  </span>



</div>
</div>
